.safety h1 {
    margin-bottom: 48px;
}

.safety > p {
    text-align: center;
    margin-bottom: 96px;
}

.slider {
    width: 100%;
    display: flex;
    gap: var(--padding-side);
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    padding-left: var(--padding-side);
    padding-right: var(--padding-side);

    scroll-padding-left: var(--padding-side);

    /* remove scroll bar */
    scrollbar-width: none;

    margin-bottom: 96px;
}

/* remove scroll bar */
.slider::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 80%;
    scroll-snap-align: start;
}

.card img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 24px;
}

.card h2 {
    margin-bottom: 8px;
}

.card p {
    text-align: left;
}