.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;

    margin-top: -100px;
}

.product {
    width: 100%;
    max-width: 1400px;
}

.product-image {
    position: relative;
    display: block;
}

.product-image img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 30px;
}

.product-info {
    margin-top: 24px;
    padding: 0px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    text-align: center;
}

.product .product-button {
        background: var(--color-brand-primary);
        border: none;

        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 4%;

        color: white;
        padding: 16px 32px;
        border-radius: 30px;
        width: fit-content;

        text-decoration: none;

        transition: background 0.2s ease;
    }

a {
    text-decoration: none;
}

@media (min-width: 768px) {

    .products {
        gap: 128px;
    }

    .product {
        padding: 0 32px;
    }

    .product-image img {
        aspect-ratio: 12/9;
    }

    .product-image::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        border-radius: 30px;
        z-index: 1;
    }

    .product-info {
        position: absolute;
        inset-inline: 0;
        bottom: 32px;

        width: 100%;
        margin: 0;
        padding: 0;

        background: transparent;

        gap: 24px;
        z-index: 2;
    }

    .product-desc {
        color: #fff;
        font-size: 20px;
        width: 90%;
    }

    .product .product-button {
        background: rgba(0, 0, 0, 0.45);
        border: none;

        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 4%;

        color: white;
        padding: 16px 32px;
        border-radius: 30px;
        width: fit-content;

        text-decoration: none;

        transition: background 0.2s ease;
    }

    .product .product-button:hover {
        background: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (min-width: 1024px) {
    .product {
        padding: 0 48px;
    }
    .product-image img {
        aspect-ratio: 16/9;
    }
    .product-desc {
        width: 80%;
    }
}

/* desc reveal animation */
@media (hover: hover) and (min-width: 768px) {
    .product-info {
        opacity: 0;
        transform: translateY(10px);

        transition:
            opacity .3s ease,
            transform .3s ease;
    }

    .product-image:hover .product-info {
        opacity: 1;
        transform: translateY(0);
    }
}
